.content,
.content--login,
.content--view {
  margin: 0 auto;
  padding: 0 20px;
}

.content,
.content--login {
  max-width: 768px;
}

.content--view {
  max-width: 992px;
}

.content--login {
  align-items: center;
  align-content: center;
  display: flex;
  max-width: 568px;
  min-height: 100vh;
}

.formContent {
  border: 1px solid mediumpurple;
  border-radius: 4px;
  padding: 10px 10px 20px;
}

.header {
  margin: 48px 0 32px;
}

.header_title {
  border-bottom: 2px solid mediumpurple;
  display: inline-block;
  font-size: 24px;
}

.formPressao {
  max-width: 60px;
}

@media(min-width: 768px) {}
