<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>Projeto de faculdade baseado em frameworks - Tela de dashboard</title>
  <link crossorigin="anonymous"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        rel="stylesheet" />
  <link href="../css/styles.css" rel="stylesheet" />
</head>
<body>

<main class="content--view">
  <header class="header d-flex justify-content-between">
    <h1 class="header_title d-inline-block">Dashboard</h1>

    <form action="POST" autocomplete="off" class="form-inline" novalidate>
      <label class="mr-2 mb-2" for="pressao">Pressão arterial</label>
      <input class="form-control form-control-sm formPressao mb-2 mr-sm-2 text-center" id="pressao" placeholder="Pressão arterial" value="12/8" type="text" />
      <button type="button" class="btn btn-primary btn-sm mb-2">Atualizar</button>
    </form>
  </header>

  <div class="table-responsive">
    <table class="table table-striped table-sm mb-5">
      <caption>Listagem de Refeições</caption>
      <thead class="thead-dark">
      <tr>
        <th scope="col">Horário</th>
        <th scope="col">Refeição</th>
        <th scope="col">Alimentos</th>
        <th scope="col">Calorias</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td>12/05/2019 ás 08:01</td>
        <td>Café da manhã</td>
        <td>Metade de um mamão, uma banana e uma torrada.</td>
        <td>500cal</td>
      </tr>
      <tr>
        <td>12/05/2019 ás 13:00</td>
        <td>Almoço</td>
        <td>3 colheres de sopa Arroz integral, 2 colheres de sopa de feijão, um bife (150g)</td>
        <td>366cal</td>
      </tr>
      <tr>
        <td>12/05/2019 ás 16:h0</td>
        <td>Lanche</td>
        <td>2 peras</td>
        <td>366cal</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-sm mb-5">
      <caption>Lista de atividades</caption>
      <thead class="thead-dark">
      <tr>
        <th scope="col">Atividade</th>
        <th scope="col">Tempo</th>
        <th scope="col">Calorias gastas</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td scope="col">Esteira</td>
        <td scope="col">30 minutos</td>
        <td scope="col">300 cal</td>
      </tr>
      <tr>
        <td scope="col">Treino Funcional</td>
        <td scope="col">45 minutos</td>
        <td scope="col">220 cal</td>
      </tr>
      <tr>
        <td scope="col">Boxe</td>
        <td scope="col">1:30 minutos</td>
        <td scope="col">460 cal</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="row no-gutters justify-content-end">
    <div class="d-inline-block">
      <a class="btn btn-sm btn-primary" href="../views/novo-cliente.html">Novo cliente</a>
    </div>
  </div>
</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
