<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>Projeto de faculdade baseado em frameworks - Tela de dashboard</title>
  <link crossorigin="anonymous"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        rel="stylesheet" />
  <link href="../css/styles.css" rel="stylesheet" />
</head>
<body>

<main class="content--view mt-5 pt-5">
  <form action="GET" autocomplete="off" class="formContent row mt-5" novalidate>
    <div class="col-4 col-sm-2">
      <div class="form-group">
        <label class="" for="peso">Peso</label>
        <input class="form-control form-control-sm" type="text" id="peso" placeholder="Ex: 80,800 kg" />
      </div>
    </div>

    <div class="col-4 col-sm-5">
      <div class="form-group">
        <label class="" for="password">Senha</label>
        <input class="form-control form-control-sm" type="password" id="password" placeholder="* * * * * *" value="123456" />
      </div>
    </div>

    <div class="col-4 col-sm-5">
      <div class="form-group">
        <label class="" for="confirmePassword">Confirme a Senha</label>
        <input class="form-control form-control-sm" type="password" id="confirmePassword" placeholder="* * * * * *" value="123456" />
      </div>
    </div>

    <div class="col-12">
      <div class="form-group">
        <label class="" for="alimento">Alimentos comumente consumidos</label>
        <textarea class="form-control form-control-sm" name="alimento" id="alimento" cols="10" rows="5" placeholder="Ex: Hamburguer com fritas, suco de laranja, etc..."></textarea>
      </div>
    </div>

    <div class="col-12">
      <div class="row no-gutters justify-content-end">
        <div class="d-inline-block">
          <button class="btn btn-sm btn-primary" type="button">Cadastrar</button>
        </div>
      </div>
    </div>
  </form>
</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
