<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>Projeto de faculdade baseado em frameworks</title>
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css" />
</head>
<body>
<main class="content-view">
  <form action="GET" novalidate></form>
</main>
</body>
</html>